{{ 'section-best-selling.css' | asset_url | stylesheet_tag }}

<section class="best-selling wrapper">
  <h1 class="title">Best Selling</h1>
  <div class="products">
    {% for product in collections['best-selling'].products limit: 12 %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Best Selling",
  "presets": [{ "name": "Best Selling" }]
}
{% endschema %}
