{{ 'section-top-banner-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-top-banner-slider.js' | asset_url }}" defer></script>

<section class="top-banner">
  <div class="slider">
    {% for product in collections['banner-slider-items'].products limit: 3 %}
      {% render 'banner-product-slide', product: product %}
    {% endfor %}
  </div>
  <button class="prev">
    {% render 'icon-prev-arrow' %}
  </button>
  <button class="next">
    {% render 'icon-next-arrow' %}
  </button>
</section>
{% schema %}
{
  "name": "Top Banner Slider",
  "presets": [{ "name": "Top Banner Slider" }]
}
{% endschema %}
