.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 5rem auto;
}
.services .single-service {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.services .icon-area {
    padding: 0.75rem;
    border: 1px solid lightgray;
    border-radius: 100%;
}
.services .icon {
    width: 1.5rem;
    height: 1.5rem;
    stroke: slateblue;
}
.services .service-content h3 {
    color: darkslategray;
    margin: 0 0 0.5rem 0;
}
.services .service-content p {
    color: gray;
    margin: 0;
    width: 75%;
    text-wrap: wrap;
}
