<main>
  {% section 'top-banner-slider' %}
  {% section 'featured' %}
  {% section 'categories' %}
  {% section 'recent-products' %}
  {% section 'services' %}
  {% section 'best-selling' %}

  {% comment %} Our Brands {% endcomment %}
  {% comment %} On Sale {% endcomment %}
  {% comment %} Footer {% endcomment %}
</main>
